{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="card col-6">
                <div class="card-header">
                    {% if title %}
                        {{ title }}
                    {% else %}
                        Вход
                    {% endif %}
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="p-2 btn btn-outline-primary">
                        {% if button %}
                            {{ button }}
                        {% else %}
                            Войти
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}